body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  margin: 0;
}

/* General styling for rainbow arcs */
div {
  border: 20px solid #000; /* Border width, type, and color */
  display: inline-block; /* Keeps elements stacked */
  min-width: 20em; /* Controls the width of the arcs */
  min-height: 10em; /* Controls the height */
  border-radius: 50%; /* Creates a circular effect */
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
}

/* Applying rainbow colors */
#red { border-top-color: #f00; }
#orange { border-top-color: #ffa500; top: 10px; }
#yellow { border-top-color: #ff0; top: 20px; }
#green { border-top-color: #00bc3f; top: 30px; }
#blue { border-top-color: #06f; top: 40px; }
#indigo { border-top-color: #8a2be2; top: 50px; }
#violet { border-top-color: #d300c9; top: 60px; }

